
:root {
    --primary-light: #ddd;
    --primary-dark: #222831;
    --secondary-dark: #393e46;
    --secondary-dark-hover: #4a4f57;
    --secondary-dark-active: #5b5f68;
    --header: #111720;
    --primary-yellow: #fac650;
  }
body
{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color:var(--primary-light);
    margin: 0;
    padding: 0;
    background-color: var(--primary-dark  );
}
.header
{
    font-size: 45px;
    padding: 40px 0px;
    font-weight: bolder;
    background-color: var(--header);
}
#firstPara
{
    padding-top: 40px;
    font-weight: bold;
    font-size: 28px;
}
.normal
{
    font-size: 20px;
}
.container
{
    justify-content: center;
    display: flex;
    gap: 60px;
    margin-bottom: 50px;
    padding: 0px 20%;
}
.images
{
    padding: 30px;
    margin: 0;
    font-size: 80px;
    flex: 1 1 0;
}
button
{
    background-color: var(--secondary-dark);
}
button.images
{
    border: none;
    border-radius: 15px;
}
button:hover 
{
    background-color: var(--secondary-dark-hover);
}
  
button:active
{
    background-color: var(--secondary-dark-active);
}
.modal
{
    background-color: var(--primary-dark);
    transform: translate(-50%,-50%) scale(0);
    top: 50%;
    left: 50%;
    position: fixed;
    font-size: 30px;
    user-select: none;
    transition: 200ms ease-in-out;
    z-index: 1;
    border-radius: 10px;
    border: none;
    padding: 30px;
    width: 300px;
}
.modal.active
{
    transform: translate(-50%,-50%) scale(1);
}
#overlay
{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    display: none;
}
#overlay.active
{
    display: block;
    opacity: 0.6;
}
#playAgainBtn
{
    /* background-color: var(--secondary-dark); */
    border: none;
    padding: 10px;
    color: var(--primary-light);
    border-radius: 5px;
}